@model IEnumerable<Banking_System.Models.Customer>
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true" />

<div class="slide ">

<div id="main-slider" class="carousel slide w-100" data-bs-ride="carousel">
    <ol class="carousel-indicators">
            <li  data-bs-target="#main-slider" data-bs-slide-to="0" class="active"></li>
            <li  data-bs-target="#main-slider" data-bs-slide-to="1" ></li>
            <li  data-bs-target="#main-slider" data-bs-slide-to="2" ></li>
    </ol>

  <div class="carousel-inner">
            <h1>Welcome In  <span> Banking System </span><br /></h1>
            <div class="overlay"> </div>
                   <div class="carousel-item active" style="background-image: url('../Images/bank1.jpg');"></div>
                   <div class="carousel-item " style="background-image: url('../Images/bank2.jpg');"></div>
                   <div class="carousel-item " style="background-image: url('../Images/bank3.jpg');"></div>
  </div>
     
  <button class="carousel-control-prev" type="button" data-bs-target="#main-slider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#main-slider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
@*-----------------------------------------------------------------------------------------------------------------------*@
<br /><br /><br />

<h1>All Customers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)$
            </td>
            <td>
                <a href="/Transfer/AddTransfer/@item.Id">Transfer </a> |
                <a asp-action="Profile" asp-route-id="@item.Id">Details</a>             
            </td>
        </tr>
}
    </tbody>
</table>